<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjlou.task.mapper.dao.GoodsDao">
    <select id="queryGoodsWeightData" resultType="com.tjlou.task.goods.WeightModel">
SELECT
                r.id AS goodsId,
                CONCAT_WS(
                    '+',
                    concat( '(', r.click, gwi.click_operator, gwi.click_rate, ')' ),
                    concat( '(', r.`share`, gwi.share_operator, gwi.share_rate, ')' ),
                    concat( '(', r.sharein, gwi.sharein_operator, gwi.sharein_rate, ')' ),
                    concat( '(', r.collectNum, gwi.collect_operator, gwi.collect_rate, ')' ),
                concat( '(', r.orderNum, gwi.pay_operator, gwi.pay_rate, ')' )) AS compute
            FROM
                (
                SELECT
                    gi.id,
                    ( SELECT COUNT( 1 ) FROM order_item_info oii WHERE oii.goods_id = gi.id AND oii.create_time BETWEEN #{startTime} AND #{endTime} ) AS orderNum,
                    (
                    SELECT
                        COUNT( 1 )
                    FROM
                        collect_info ci
                    WHERE
                        ci.`status` = '00A'
                        AND ci.goods_id = gi.id
                        AND ci.create_time BETWEEN #{startTime}
                        AND #{endTime}
                    ) AS collectNum,
                    (
                    SELECT
                        COUNT( 1 )
                    FROM
                        user_action_info uai
                    WHERE
                        uai.type = 1
                        AND uai.goods_id = gi.id
                        AND uai.create_time BETWEEN #{startTime}
                        AND #{endTime}
                    ) AS click,
                    (
                    SELECT
                        COUNT( 1 )
                    FROM
                        user_action_info uai
                    WHERE
                        uai.type = 2
                        AND uai.goods_id = gi.id
                        AND uai.create_time BETWEEN #{startTime}
                        AND #{endTime}
                    ) AS `share`,
                    (
                    SELECT
                        COUNT( 1 )
                    FROM
                        user_action_info uai
                    WHERE
                        uai.type = 4
                        AND uai.goods_id = gi.id
                        AND uai.create_time BETWEEN #{startTime}
                        AND #{endTime}
                    ) AS sharein
                FROM
                    goods_info gi
                WHERE
                gi.`status` IN ( '00A' )) r
                LEFT JOIN goods_weight_info gwi ON 1 =1
    </select>
    <select id="queryGoodsCjgWeight" resultType="com.tjlou.task.goods.GoodsCjgWeightModel">
            SELECT
                r1.goodsId,
                r1.clickNum,
                count( oii.id ) AS orderNum
            FROM
                (
                SELECT
                    r.id AS goodsId,
                    sum( uai.num ) AS clickNum
                FROM
                    ( SELECT gi.id FROM goods_info gi WHERE gi.`status` = '00A' ) r,
                    user_action_info uai
                WHERE
                    uai.goods_id = r.id
                    AND uai.create_time BETWEEN #{startTime} AND #{endTime}
                    AND uai.type = 1
                GROUP BY
                    r.id
                ) r1
                LEFT JOIN order_item_info oii ON oii.goods_id = r1.goodsId
                AND oii.create_time BETWEEN #{startTime} AND #{endTime}
            GROUP BY
                r1.goodsId
    </select>
</mapper>