<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjlou.task.mapper.dao.GoodsDao">
    <select id="queryGoodsWeightData" resultType="com.tjlou.task.goods.WeightModel">
            SELECT
                goods_id,
                GROUP_CONCAT(
                    (
                    CASE

                            WHEN action_type = 1 THEN
                            CONCAT( num, gwi.click_operator, gwi.click_rate )
                            WHEN action_type = 2 THEN
                            concat( num, gwi.collect_operator, gwi.collect_rate )
                            WHEN action_type = 3 THEN
                            concat( num, gwi.pay_operator, gwi.pay_rate )
                            WHEN action_type = 4 THEN
                            concat( num, gwi.share_operator, gwi.share_rate )
                            WHEN action_type = 5 THEN
                            concat( num, gwi.sharein_operator, gwi.sharein_rate )
                        END
                        ) SEPARATOR '+'
                    ) AS compute
                FROM
                    (
                    SELECT
                        goods_id,
                        action_type,
                        count( 1 ) AS num
                    FROM
                        user_action_log ual,
                        goods_info gi
                    WHERE
                        gi.id = ual.goods_id
                        AND ual.create_time &gt; #{startTime}
                        AND ual.create_time &lt; #{endTime}
                        AND ual.`status` = 1
                        AND gi.`status` = '00A'
                    GROUP BY
                        goods_id,
                        action_type
                    ) r
                    LEFT JOIN goods_weight_info gwi ON 1 = 1
                    AND type = 1
            GROUP BY
                goods_id
    </select>
    <select id="queryGoodsCjgWeight" resultType="com.tjlou.task.goods.GoodsCjgWeightModel">
            SELECT
                r1.goodsId,
                r1.clickNum,
                count( oii.id ) AS orderNum
            FROM
                (
                SELECT
                    r.id AS goodsId,
                    sum( uai.num ) AS clickNum
                FROM
                    ( SELECT gi.id FROM goods_info gi WHERE gi.`status` = '00A' ) r,
                    user_action_info uai
                WHERE
                    uai.goods_id = r.id
                    AND uai.create_time BETWEEN #{startTime} AND #{endTime}
                    AND uai.type = 1
                GROUP BY
                    r.id
                ) r1
                LEFT JOIN order_item_info oii ON oii.goods_id = r1.goodsId
                AND oii.create_time BETWEEN #{startTime} AND #{endTime}
            GROUP BY
                r1.goodsId
    </select>
</mapper>